# Created by .ignore support plugin (hsz.mobi)
### Java template
# ==================
*.class

# Mobile Tools for Java (J2ME)
# ==================
.mtj.tmp/

# Package Files #
# ==================
*.jar
*.war
*.ear

# Folders #
# ==================
reports/
drivers/*
.classpath
.project
.settings/
target/
test-output/
data/webApp.SEOR.crm/*